*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 40px;
    background-color: rgb(68, 231, 109);
    width: 1280px;
    margin-left: 0px;
    
}
.box-1{
    padding: 210px;
    background-color: rgb(240, 203, 84);
    margin-left: 680px;
    width: 600px;
}
.box-2{
    padding: 220px 0 0.25px;
    background-color: rgb(49, 106, 230);
    margin-top: -420px;
    width: 680px;
}
.box-3{
    padding: 210px 0 0.25px;
    background-color: rgb(236, 123, 57);
    margin-top: -10px;
    width: 680px;
}
.box-4{
    padding: 50px;
    background-color: rgb(129, 54, 95);
    width: 1280px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        display: block;
    }
    .container{
        background-color:rgb(68, 231, 109) ;
    }
    .box-1{
        background-color: rgb(240, 203, 84);
    }
    .box-2{
        background-color: rgb(49, 106, 230);
    }
    .box-3{
        background-color: rgb(236, 123, 57);
    }
    .box-4{
        background-color: rgb(129, 54, 95);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        display: block;
    }
    .container{
        background-color:rgb(68, 231, 109) ;
    }
    .box-1{
        background-color: rgb(240, 203, 84);
    }
    .box-2{
        background-color: rgb(49, 106, 230);
    }
    .box-3{
        background-color: rgb(236, 123, 57);
    }
    .box-4{
        background-color: rgb(129, 54, 95);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        display: block;
    }
    .container{
        background-color:rgb(68, 231, 109) ;
    }
    .box-1{
        background-color: rgb(240, 203, 84);
    }
    .box-2{
        background-color: rgb(49, 106, 230);
    }
    .box-3{
        background-color: rgb(236, 123, 57);
    }
    .box-4{
        background-color: rgb(129, 54, 95);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        display: block;
    }
    .container{
        background-color:rgb(68, 231, 109) ;
    }
    .box-1{
        background-color: rgb(240, 203, 84);
    }
    .box-2{
        background-color: rgb(49, 106, 230);
    }
    .box-3{
        background-color: rgb(236, 123, 57);
    }
    .box-4{
        background-color: rgb(129, 54, 95);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        display: block;
    }
    .container{
        background-color:rgb(68, 231, 109) ;
    }
    .box-1{
        background-color: rgb(240, 203, 84);
    }
    .box-2{
        background-color: rgb(49, 106, 230);
    }
    .box-3{
        background-color: rgb(236, 123, 57);
    }
    .box-4{
        background-color: rgb(129, 54, 95);
    }
}